<div class="well">
  <h1>New User</h1>
  <p> I am sorry. This action is not currently implemented. Please create a user through the Creant an Account link. </p>
</div>



<!--%= render 'form', user: @user % -->

<%= link_to 'Back', users_path %>
